* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

.container {
    width: 500px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

form {
    margin-bottom: 20px;
    display: flex;
}

button {
    padding: 5px 15px;
    border: 0px;
    border-radius: 5px;
    margin: 0 3px;
    cursor: pointer;
}

input {
    padding: 8px 15px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form input {
    flex: 1;
    margin-right: 15px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    padding: 10px 0px;
}

li input {
    flex: 1;
}

li p {
    flex: 1;
}

li .todo {
    flex: 0 0 20px;
    height: 20px;
    border-radius: 30px;
    margin-right: 15px;
    border: 2px solid #333;
}

li .todo.done {
    background-color: #333;
}